<div class="card">
  <%= link_to image_tag(food.image),root_path, class: :card__img %>
  <div class="card__body">
    <%= link_to food.title, root_path, class: :card__title%>
    <p class="card__summary">
      <%= food.catch_copy %>
    </p>
    <%= link_to food.menu, root_path, class: :card__user %>
  </div>
</div>