<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "こんにちは、", class: :greeting__link %>
        <%= link_to current_user.name, user_path(current_user.id), class: :greeting__link%>
        <%= link_to "さん", class: :greeting__link%>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'food', collection: @foods %>
    </div>
  </div>
</main>
